.pagination {
  display: flex;
  justify-content: space-between;
  font-family: var(--header-font-family);
  margin: 2rem 0;
}

.link {
  width: 25%;
}

.link:last-child {
  text-align: right;
}

.link a {
  color: inherit;
}

.page {
  text-align: center;
}
