.header {
  background-color: var(--color-red);
  color: var(--color-grey);
  font-family: var(--header-font-family);
  font-size: 3rem;
  line-height: 3rem;
  text-shadow: 0 0 2px var(--color-black);
  padding: 2rem;
  position: relative;
}

.header a {
  color: inherit;
}

.header div {
  font-size: 2rem;
  opacity: 0.7;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.metadata {
  font-family: var(--header-font-family);
  font-size: 14px;
  background-color: var(--color-black);
  color: var(--color-grey);
}

.metadata ul {
  max-width: var(--content-width);
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.metadata li {
  display: inline-block;
}

.metadata li + li:before {
  content: '//';
  margin: 0 1ex;
}

.content {
  padding: 1rem 2rem;
}

.content :global(.footnotes) {
  font-size: smaller;
}

article .header {
  font-size: 5rem;
  line-height: 7rem;
  text-align: center;
}

article .metadata {
  text-align: center;
}

@media print {
  .content a:not([href^="#"]) {
    text-decoration: underline;
  }

  .content a:not([href^="#"]):after {
    content: ' [' attr(href) ']';
  }

  .content :global(.footnote-backref) {
    display: none;
  }
}
