.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper > :not([full-width]) {
  max-width: var(--content-width);
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  align-self: center;
}

@media print {
  article.wrapper > :not([full-width]) {
    max-width: initial;
  }
}
