.header {
  background-color: var(--color-red);
  color: var(--color-grey);
  font-family: var(--header-font-family);
  font-size: 5rem;
  line-height: 7rem;
  text-shadow: 0 0 2px var(--color-black);
  text-align: center;
  margin-bottom: 2rem;
  padding: 2rem;
  position: relative;
}
