.header {
  color: var(--color-grey);
  background-color: var(--color-black);
  font-size: 3rem;
  font-family: var(--header-font-family);
  line-height: 4rem;
  padding: 0 var(--page-margin);
  position: relative;
}

.header a {
  color: inherit;
}

.header ul {
  position: absolute;
  right: var(--page-margin);
  top: 0;
}

.header li {
  display: inline-block;
}

.socialLink {
  position: relative;
  padding: 0 1rem;
}

.socialLink {
  color: inherit;
}

.socialLink span {
  background: var(--color-grey);
  color: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: 3px;
  font-size: 2rem;
  line-height: 3rem;
  padding: 0 3px;
  position: absolute;
  top: 4rem;
  right: 0.5rem;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.socialLink span:before {
  content: '';
  background-color: var(--color-grey);
  border: 0 solid var(--color-black);
  border-width: 1px 0 0 1px;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(45deg);
  position: absolute;
  right: 0.75rem;
  top: calc(-0.75rem - 1px);
  z-index: -1;
}

.socialLink:hover span, .socialLink:focus span {
  opacity: 1;
}

@media print {
  .socialLink {
    display: none;
  }
}
