:root {
  --color-black: rgb(40,40,48);
  --color-grey: rgb(231,231,231);
  --color-white: rgb(255,255,255);
  --color-red: rgb(235,73,58);

  --page-margin: 2rem;

  --header-font-family: 'Raleway', sans-serif;
  --body-font-family: 'Libre Baskerville', serif;

  --content-width: 100rem;
}

html, body, div,  span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var, b, i, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, header, footer, section, article,
nav, canvas, aside, figcaption, figure, hgroup, menuitem, summary, time, mark,
audio, video, li, dt, dd, dl {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2.5em;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 50%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-grey);
  color: var(--color-black);
  font-family: var(--body-font-family);
  font-size: 2rem;
  line-height: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

a svg {
  transition: color 0.3s;
}

a:hover svg, a:focus svg {
  color: var(--color-red);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font-family);
  font-weight: 400;
}

h1 {
  font-size: 6rem;
  line-height: 9rem;
}

h2 {
  font-size: 4rem;
  line-height: 6rem;
}

h3, h4, h5, h6 {
  font-size: 2rem;
  line-height: 3rem;
}

hr {
  border: 0 none;
  margin: 0;
  height: 2rem;
}

hr:after {
  content: '';
  border-top: 1px dashed var(--color-black);
  display: block;
  width: 100%;
  margin-top: 1rem;
}

p + p {
  margin-top: 1em;
}

sup {
  line-height: 0; /* Prevent superscripts from adjusting paragraph height */
}

blockquote {
  border-left: 0.5rem solid var(--color-red);
  padding-left: 1.5rem;
  margin: 1rem;
}

table {
  background-color: var(--color-grey);
  color: var(--color-black);
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(even) {
  background-color: rgba(0,0,0,0.1);
}

table th, table td {
  vertical-align: top;
  padding: 1rem;
}

table th {
  background-color: var(--color-black);
  color: var(--color-grey);
  font-family: var(--header-font-family);
  font-weight: 800;
  font-size: 2rem;
  text-align: left;
}

.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Adjust code highlighting styles */

:not(pre) > code[class*="language-"] {
  padding: 0.1em 1ex;
}

.gatsby-highlight {
  background-color: #272822;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left;
  min-width: 100%;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em;
}

.gatsby-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.9);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #a6e22e;
}
